$font-primary: 'Golos', system-ui, -apple-system, 'Segoe UI', roboto, ubuntu, cantarell, 'Noto Sans', sans-serif;

//font-weight
$regular: 400;
$bold: 700;

// font-size title
$h-2xl: 7.2rem;
$h-xl: 6.4rem;
$h-l: 4.8rem;
$h-m: 4rem;
$h-s: 3.2rem;
$h-xs: 2.6rem;

// line-height title
$h-lh-2xl: 6.4rem;
$h-lh-xl: 7.2rem;
$h-lh-l: 5.6rem;
$h-lh-m: 4.8rem;
$h-lh-s: 4rem;
$h-lh-xs: 3.4rem;

// font-size text
$text-4xl: 6rem;
$text-3-5xl: 4.2rem;
$text-3xl: 3.2rem;
$text-2xl: 2.4rem;
$text-xl: 2rem;
$text-m: 1.8rem;
$text-s: 1.6rem;
$text-xs: 1.2rem;

// font-size line-height
$text-lh-4xl: 7.4rem;
$text-lh-3-5xl: 4.2rem;
$text-lh-3xl: 4rem;
$text-lh-2xl: 3.2rem;
$text-lh-xl: 2.6rem;
$text-lh-m: 2.4rem;
$text-lh-s: 2rem;
$text-lh-xs: 1.4rem;

//indents
$indent-4xs: 0.4rem;
$indent-3xs: 0.8rem;
$indent-2xs: 1.4rem;
$indent-xs: 1.6rem;
$indent-s: 2.4rem;
$indent-m: 3.2rem;
$indent-l: 4.8rem;
$indent-xl: 6.4rem;
$indent-xxl: 12.2rem;
$indent-2xxl: 16.2rem;

//border-radius
$border-s: 0.6rem;
$border-m: 1.2rem;
$border-l: 1.6rem;
$border-xl: 2.4rem;
$border-xxl: 4.8rem;
